<h2> NAME:           ---->  <%= @trainer.name %></h2>

<h2> LEVEL:            ----->  <%=@trainer.level %> </h2>



<img src="<%=@trainer.img_url %>" alt="trainer">

<br><br>
<a href="/trainers/<%=@trainer.id%>/edit" > EDIT:  <%=@trainer.name %> </a>
